# 서울시 구별 CCTV 현황 분석하기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#다운로드 받은 01. CCTV_in_Seoul.csv 파일을 읽으세요. encoding='utf-8' 로 읽으세요. 

CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv',  encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [3]:
# 컬럼 정보를 읽으세요. 

CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [4]:
CCTV_Seoul.columns[0]

'기관명'

In [5]:
#CCTV_Seoul.columns[0] 번째 정보를 '구별' 이라는 이름으로 바꾸세요. 

CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 2-2. 엑셀파일 읽기 - 서울시 인구현황

In [6]:
# 01. population_in_Seoul.xls 엑셀 파일을 읽으세요.

pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls',  encoding='utf-8')
pop_Seoul.head()

TypeError: read_excel() got an unexpected keyword argument 'encoding'

In [ ]:
# 01. population_in_Seoul.xls 서울의 인구수에 대한 파일을 읽으세요. 
# usecols = 'B, D, G, J, N' 옵션을 사용하여 해당 컬럼만 읽어 들이세요. 

pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls', 
                          header = 2,
                          usecols = 'B, D, G, J, N',
                          encoding='utf-8')
pop_Seoul.head()

In [ ]:
# 각컬럼명을 '구별' '인구수', '한국인', '외국인', '고령자' 로 바꾸세요. 

pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별', 
                          pop_Seoul.columns[1] : '인구수', 
                          pop_Seoul.columns[2] : '한국인', 
                          pop_Seoul.columns[3] : '외국인', 
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

# 3. CCTV 데이터 파악하기

In [ ]:
CCTV_Seoul.head()

In [ ]:
#'소계'로 오름차순 정렬하여 앞에서부터 5개만 보여주세요. 

CCTV_Seoul.sort_values(by='소계', ascending=True).head(5)

In [ ]:
#'소계'로 내림차순 정렬하여 앞에서부터 5개만 보여주세요. 

CCTV_Seoul.sort_values(by='소계', ascending=False).head(5)

In [ ]:
# '최근증가율' 컬럼에  (2016년도컬럼 + 2015년도컬럼 + 2014년도컬럼 )/ 2013년도 이전  * 100 으로 계산하여 채우세요.

CCTV_Seoul['최근증가율'] = (CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] + \
                        CCTV_Seoul['2014년']) / CCTV_Seoul['2013년도 이전']  * 100

# 최근증가율 컬럼으로 내림차순 정렬하여 앞에서부터 5개만 보여주세요. 
CCTV_Seoul.sort_values(by='최근증가율', ascending=False).head(5)

# 5. 서울시 인구 데이터 파악하기

In [7]:
pop_Seoul.head()

NameError: name 'pop_Seoul' is not defined

In [ ]:
# 위의 데이터중 첫번째 행을 지우세요. 합계정보는 필요없습니다. 

pop_Seoul.drop([0],axis=0, inplace=True)
pop_Seoul.head()

In [ ]:
# '구별' 정보에서 unique() 함수를 사용하여 유니크한 값만 뽑으세요. 

pop_Seoul['구별'].unique()

In [ ]:
#pop_Seoul에 '구별' 정보가 null 인지 체크하세요. isnull() 함수 사용 

pop_Seoul[pop_Seoul['구별'].isnull()]

In [ ]:
# 위에서 찾은 26번째 행을 지우세요. 

pop_Seoul.drop([26], inplace=True)
pop_Seoul.head()

In [ ]:
# '고령자비율' 컬럼 = 고령자컬럼 / 인구수 컬럼 * 100 
# '외국인비율' 컬럼 = 외국인컬럼 / 인구수 컬럼 * 100

pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100
pop_Seoul.head()

In [ ]:
# '인구수'로 내림차순 정렬하여 앞에서부터 5개만 보여주세요. 

pop_Seoul.sort_values(by='인구수', ascending=False).head(5)

In [ ]:
# '외국인' 으로 내림차순 정렬하여 앞에서부터 5개만 보여주세요.

pop_Seoul.sort_values(by='외국인', ascending=False).head(5)

In [ ]:
# '외국인비율' 로 내림차순 정렬하여 5개만 보여주세요. 

pop_Seoul.sort_values(by='외국인비율', ascending=False).head(5)

In [ ]:
# '고령자' 로 내림차순 정렬하여 앞에서 부터 5개만 보여주세요. 

pop_Seoul.sort_values(by='고령자', ascending=False).head(5)

In [ ]:
#고령자비율 컬럼으로 내림차순 정렬하여 5개만 보여주세요. 

pop_Seoul.sort_values(by='고령자비율', ascending=False).head(5)

# 6. CCTV 데이터와 인구 데이터 합치고 분석하기

In [ ]:
CCTV_Seoul

In [ ]:
pop_Seoul

In [ ]:
# CCTV_Seoul 데이터프레임과 pop_Seoul 데이터 프레임을 '구별' 정보로 merge 하세요.

In [ ]:
#불필요한 컬럼을 지우세요. '2013년도 이전', '2014년','2015년','2016년' 컬럼

In [ ]:
# '구별' 정보를 index로 설정하세요.  set_index() 함수를 사용하여, inplace=true 옵션을 주세요.

In [ ]:
#data_result 데이터의 '소계' 로 내림차순 정렬하여 앞에서부터 5개만 보여주세요.

In [ ]:
#data_result 데이터의 '인구수'로 내림차순 정렬하여 앞에서부터 5개만 보여주세요.

# 7. CCTV와 인구현황 그래프로 분석하기

In [ ]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system!!')