In [1]:
import pandas as pd

In [46]:
locCode=pd.read_excel('../data/법정동코드.xlsx')
locCode.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN

In [47]:
locCode.dropna(subset=['읍면동명'],inplace=True)
locCode

            법정동코드      시도명  시군구명 읍면동명  동리명      생성일자  말소일자
2      1111010100    서울특별시   종로구  청운동  NaN  19880423   NaN
3      1111010200    서울특별시   종로구  신교동  NaN  19880423   NaN
4      1111010300    서울특별시   종로구  궁정동  NaN  19880423   NaN
5      1111010400    서울특별시   종로구  효자동  NaN  19880423   NaN
6      1111010500    서울특별시   종로구  창성동  NaN  19880423   NaN
...           ...      ...   ...  ...  ...       ...   ...
20551  5013032022  제주특별자치도  서귀포시  표선면  하천리  20060701   NaN
20552  5013032023  제주특별자치도  서귀포시  표선면  성읍리  20060701   NaN
20553  5013032024  제주특별자치도  서귀포시  표선면  가시리  20060701   NaN
20554  5013032025  제주특별자치도  서귀포시  표선면  세화리  20060701   NaN
20555  5013032026  제주특별자치도  서귀포시  표선면  토산리  20060701   NaN

[20270 rows x 7 columns]

In [78]:
locCode=locCode[locCode['시도명']=='서울특별시']


loc=pd.DataFrame({'시도명':locCode['시도명'],'시군구명':locCode['시군구명']})
loc.isnull().sum(axis=1)

2      0
3      0
4      0
5      0
6      0
      ..
488    0
489    0
490    0
491    0
492    0
Length: 467, dtype: int64